@use "variables.scss" as v;

.index {
    .banner {
        width: 100%;
        height: 250px;
        background: linear-gradient(180deg, rgba(v.$primary-color, .5), rgba(v.$primary-color, .9)), url('../img/banner.jpg');
        background-position: center;
        background-size: cover;
        border-top: 5px solid v.$secondary-color;
        border-bottom: 5px solid v.$secondary-color;

        .container {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        h1 {
            color: #fff;
            font-weight: 700;
            text-align: center;
        }
    }
}

@media screen and (min-width: 992px) {
    .index {
        .banner {
            height: 500px;
            background-attachment: fixed;

            h1{
                max-width: 1920px;
            }
        }
    }
}