@use "variables.scss" as v;

main.index {
    .banner {
        width: 100%;
        height: 250px;
        background: linear-gradient(180deg, rgba(v.$primary-color, .5), rgba(v.$primary-color, .9)), url('../img/banner.jpg');
        background-position: center;
        background-size: cover;
        border-top: 5px solid v.$secondary-color;
        border-bottom: 5px solid v.$secondary-color;

        .container {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        h1 {
            color: #fff;
            font-weight: 700;
            text-align: center;
        }
    }

    .sobre{
        background-color: v.$secondary-color;
        p{
            font-weight: 500;
            color: #fff;
        }
    }

    .servicos{
        .col-12.col-lg-4{
            display: flex;
        }
        .servico-item{
            display: flex;
            .card{
                background-color: v.$primary-color;
                display: flex;
            }

            .card-body{
                display: flex;
                flex-direction: column;
            }

            .servico-titulo{
                text-align: center;
                color: v.$secondary-color;
            }

            .servico-texto{
                display: flex;
                color: #fff;
                height: 100%;
                font-weight: 500;
                text-align: center;
            }

            .btn-primary{
                margin: 0 auto;
                display: block;
                width: 125px;
            }
        }
    }

    .contato{
        .contato-item{
            margin-bottom: 25px;

            a{
                text-decoration: none;
                font-size: 1.5rem;
                color: v.$primary-color;
                font-weight: 500;

                &:hover{
                    text-decoration: underline 3px v.$secondary-color;
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .index {
        .banner {
            height: 500px;
            background-attachment: fixed;

            h1{
                max-width: 1920px;
            }
        }
    }
}