.secao {
  padding: 75px 0;
}

.secao-titulo {
  text-align: center;
  position: relative;
  text-transform: uppercase;
  color: #005A31;
  font-weight: 700;
  margin-bottom: 50px;
}
.secao-titulo::after, .secao-titulo::before {
  content: "";
  display: block;
  position: relative;
  width: 30%;
  height: 3px;
  border-radius: 25px;
  background-color: #FF6B18;
  position: absolute;
  top: 50%;
}
.secao-titulo::before {
  right: 0;
}

.btn-primary {
  background-color: #FF6B18;
  border-color: #fe5b00;
  font-weight: 700;
  color: #005A31;
}
.btn-primary:hover {
  background-color: #FF6B18;
  border-color: #fe5b00;
}
.btn-primary:active {
  background-color: #fe5b00 !important;
  border-color: #fe5b00 !important;
}

@media screen and (min-width: 992px) {
  .secao-titulo::after, .secao-titulo::before {
    width: 40%;
  }
}
.navbar {
  border-bottom: 5px solid #FF6B18;
  box-shadow: 0 1px 10px 5px rgba(0, 0, 0, 0.25);
}
.navbar .navbar-brand img {
  width: 150px;
}
.navbar .navbar-toggler {
  border: 3px solid #005A31;
  width: 50px;
  height: 50px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.navbar .navbar-toggler span {
  display: block;
  background-color: #005A31;
  height: 3px;
  width: 50%;
}
.navbar .navbar-collapse {
  margin-top: 25px;
}
.navbar .nav-link {
  background-color: #005A31;
  text-align: center;
  color: #fff;
  border-top: 3px solid #004123;
  font-weight: 700;
  transition: background-color 0.5s;
}
.navbar .nav-link:hover {
  background-color: #FF6B18;
}
.navbar .nav-item:first-child .nav-link {
  border-top: none;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.navbar .nav-item:last-child .nav-link {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.navbar .nav-link.active {
  color: #fff;
  background-color: #FF6B18;
}

@media screen and (min-width: 992px) {
  .navbar .container {
    flex-direction: column;
  }
  .navbar .navbar-brand img {
    width: 250px;
  }
  .navbar .navbar-toggler {
    display: none;
  }
  .navbar .nav-link {
    border-top: 3px solid #004123;
    border-bottom: 3px solid #004123;
    border-left: 3px solid #004123;
    width: 150px;
  }
  .navbar .nav-item:first-child .nav-link {
    border-top-right-radius: 0px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top: 3px solid #004123;
  }
  .navbar .nav-item:last-child .nav-link {
    border-bottom-left-radius: 0px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-right: 3px solid #004123;
  }
}
main.index .banner {
  width: 100%;
  height: 250px;
  background: linear-gradient(180deg, rgba(0, 90, 49, 0.5), rgba(0, 90, 49, 0.9)), url("../img/banner.jpg");
  background-position: center;
  background-size: cover;
  border-bottom: 5px solid #FF6B18;
}
main.index .banner .container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main.index .banner h1 {
  color: #fff;
  font-weight: 700;
  text-align: center;
}
main.index .sobre {
  background-color: #FF6B18;
}
main.index .sobre p {
  font-weight: 500;
  color: #fff;
}
main.index .servicos .col-12.col-lg-4 {
  display: flex;
}
main.index .servicos .servico-item {
  display: flex;
}
main.index .servicos .servico-item .card {
  background-color: #005A31;
  display: flex;
}
main.index .servicos .servico-item .card-body {
  display: flex;
  flex-direction: column;
}
main.index .servicos .servico-item .servico-titulo {
  text-align: center;
  color: #FF6B18;
}
main.index .servicos .servico-item .servico-texto {
  display: flex;
  color: #fff;
  height: 100%;
  font-weight: 500;
  text-align: center;
}
main.index .servicos .servico-item .btn-primary {
  margin: 0 auto;
  display: block;
  width: 125px;
}
main.index .contato .contato-item {
  margin-bottom: 25px;
}
main.index .contato .contato-item a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #005A31;
  font-weight: 500;
}
main.index .contato .contato-item a:hover {
  text-decoration: underline 3px #FF6B18;
}

@media screen and (min-width: 992px) {
  .index .banner {
    height: 500px !important;
    background-attachment: fixed;
  }
  .index .banner h1 {
    max-width: 1920px;
  }
}
main.servicos .servico-item h3 {
  color: #FF6B18;
  padding-bottom: 5px;
  border-bottom: 5px dotted #005A31;
}
main.servicos .servico-item ul {
  list-style: none;
}
main.servicos .servico-item ul i {
  color: #FF6B18;
}

main.contato .contato-item {
  margin-bottom: 25px;
}
main.contato .contato-item a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #005A31;
  font-weight: 500;
}
main.contato .contato-item a:hover {
  text-decoration: underline 3px #FF6B18;
}
main.contato form .form-control {
  border: 1px solid #005A31;
}
main.contato form .form-control:focus {
  box-shadow: 0px 0px 3px 1px #FF6B18;
}
main.contato form .btn-outline-primary {
  border: 3px solid #FF6B18;
  color: #005A31;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto;
  display: block;
  width: 125px;
}
main.contato form .btn-outline-primary:hover {
  background-color: #FF6B18;
  color: #fff;
}
main.contato form .btn-outline-primary:active {
  background-color: #e45200;
  border: 3px solid #005A31;
}

footer {
  background-color: #005A31;
  padding: 25px 0;
  color: #fff;
}
footer .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
footer .info .copy {
  font-size: 1.25rem;
}
footer .info .social {
  display: flex;
  gap: 25px;
}
footer .info .social a {
  width: 50px;
  height: 50px;
  border: 3px solid #FF6B18;
  border-radius: 100%;
  display: block;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FF6B18;
  transition: color 0.5s, background-color 0.5s;
}
footer .info .social a:hover {
  color: #005A31;
  background-color: #FF6B18;
}
footer .info .social i {
  font-size: 30px;
}
footer .dev a {
  text-align: center;
  color: #fff;
  font-size: 0.9rem;
  text-decoration: none;
  width: 100%;
  display: block;
}
footer .dev a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 992px) {
  footer .info {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  footer .dev a {
    margin-top: 25px;
    text-align: right;
  }
}

/*# sourceMappingURL=style.css.map */
