.navbar .navbar-toggler {
  border: 3px solid #005A31;
  width: 50px;
  height: 50px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.navbar .navbar-toggler span {
  display: block;
  background-color: #005A31;
  height: 3px;
  width: 50%;
}
.navbar .navbar-collapse {
  margin-top: 25px;
}
.navbar .nav-link {
  background-color: #005A31;
  text-align: center;
  color: #fff;
  border-top: 3px solid #004123;
  font-weight: 700;
  transition: background-color 0.5s;
}
.navbar .nav-link:hover {
  background-color: #FF6B18;
}
.navbar .nav-item:first-child .nav-link {
  border-top: none;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.navbar .nav-item:last-child .nav-link {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.navbar .nav-link.active {
  color: #fff;
  background-color: #FF6B18;
}

@media screen and (min-width: 992px) {
  .navbar .container {
    flex-direction: column;
  }
  .navbar .navbar-toggler {
    display: none;
  }
  .navbar .nav-link {
    border-top: 3px solid #004123;
    border-bottom: 3px solid #004123;
    border-left: 3px solid #004123;
    width: 150px;
  }
  .navbar .nav-item:first-child .nav-link {
    border-top-right-radius: 0px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top: 3px solid #004123;
  }
  .navbar .nav-item:last-child .nav-link {
    border-bottom-left-radius: 0px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-right: 3px solid #004123;
  }
}
.index .banner {
  width: 100%;
  height: 250px;
  background: linear-gradient(180deg, rgba(0, 90, 49, 0.5), rgba(0, 90, 49, 0.9)), url("../img/banner.jpg");
  background-position: center;
  background-size: cover;
  border-top: 5px solid #FF6B18;
  border-bottom: 5px solid #FF6B18;
}
.index .banner .container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.index .banner h1 {
  color: #fff;
  font-weight: 700;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .index .banner {
    height: 500px;
    background-attachment: fixed;
  }
  .index .banner h1 {
    max-width: 1920px;
  }
}
footer {
  background-color: #005A31;
  padding: 25px 0;
  color: #fff;
}
footer .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
footer .info .copy {
  font-size: 1.25rem;
}
footer .info .social {
  display: flex;
  gap: 25px;
}
footer .info .social a {
  width: 50px;
  height: 50px;
  border: 3px solid #FF6B18;
  border-radius: 100%;
  display: block;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FF6B18;
  transition: color 0.5s, background-color 0.5s;
}
footer .info .social a:hover {
  color: #005A31;
  background-color: #FF6B18;
}
footer .info .social i {
  font-size: 30px;
}
footer .dev a {
  text-align: center;
  color: #fff;
  font-size: 0.9rem;
  text-decoration: none;
  width: 100%;
  display: block;
}
footer .dev a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 992px) {
  footer .info {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  footer .dev a {
    margin-top: 25px;
    text-align: right;
  }
}

/*# sourceMappingURL=style.css.map */
